In [1]:
from sqlalchemy import create_engine
import pandas as pd
import logging

In [2]:
# Configuração de logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

In [3]:
# Conexão com o banco de dados
engine = create_engine('postgresql://airflow:airflow@127.0.0.1:5432/airflow', echo=False)

In [4]:
# Função para criar DataFrame a partir de uma tabela no PostgreSQL, incluindo o esquema
def criar_dataframe(nome_tabela, engine, schema='dw'):
    query = f"SELECT * FROM {schema}.{nome_tabela};"
    try:
        df = pd.read_sql_query(query, engine)
        logging.info(f"DataFrame criado para a tabela {schema}.{nome_tabela} com {len(df)} linhas.")
        return df
    except Exception as e:
        logging.error(f"Erro ao criar DataFrame da tabela {schema}.{nome_tabela}: {e}")
        return pd.DataFrame()

if __name__ == "__main__":
    # Lista das tabelas para as quais você deseja criar DataFrames
    tabelas = ['dim_contrato', 'dim_entidade', 'dim_modalidade', 'dim_participacao', 'dim_projeto', 'fato_contratos', 'fato_convenios']
    
    # Dicionário para armazenar os DataFrames criados, usando o nome da tabela como chave
    dataframes = {}
    
    # Loop para criar um DataFrame para cada tabela e armazenar no dicionário
    for tabela in tabelas:
        dataframes[tabela] = criar_dataframe(tabela, engine, 'dw')

2024-04-07 16:12:15,690 - INFO - DataFrame criado para a tabela dw.dim_contrato com 1190 linhas.
2024-04-07 16:12:15,701 - INFO - DataFrame criado para a tabela dw.dim_entidade com 1190 linhas.
2024-04-07 16:12:15,719 - INFO - DataFrame criado para a tabela dw.dim_modalidade com 1190 linhas.
2024-04-07 16:12:15,733 - INFO - DataFrame criado para a tabela dw.dim_participacao com 1190 linhas.
2024-04-07 16:12:15,749 - INFO - DataFrame criado para a tabela dw.dim_projeto com 1190 linhas.
2024-04-07 16:12:15,771 - INFO - DataFrame criado para a tabela dw.fato_contratos com 940 linhas.
2024-04-07 16:12:15,785 - INFO - DataFrame criado para a tabela dw.fato_convenios com 250 linhas.

In [5]:
dataframes['dim_contrato'].head()

,id_contrato,num_contrato,plain_num_contrato,contract_type,infringement_status,cod_financiador_including_zeroes,accountability_status,descricao_situacao
0,1,53/2022,532022,CONVENIO,0,00860052,PRESTAÇÃO DE CONTAS REGULAR,CONCLUÍDO
1,2,07/2013,072013,CONVENIO,1,00780806,NÃO ESTÁ NO E-PARCERIAS.,VENCIDO
2,3,257983001,257983001,CONVENIO,1,00884545,NÃO ESTÁ NO E-PARCERIAS.,VENCIDO
3,4,220983001,220983001,CONVENIO,1,00884449,NÃO ESTÁ NO E-PARCERIAS.,VENCIDO
4,5,159/2010,1592010,CONVENIO,0,00860040,NÃO ESTÁ NO E-PARCERIAS.,VENCIDO

In [6]:
dataframes['dim_entidade'].head()

,id_entidade,cod_concedente,cod_financiador,cod_gestora,cod_orgao,cod_secretaria,cpf_cnpj_financiador,plain_cpf_cnpj_financiador,descricao_nome_credor
0,1,220001,860052,220001,22000000,22000000,07.663.917/0001-15,07663917000115,PREF MUNIC DE CRUZ
1,2,490001,780806,490001,49000000,49000000,12.607.106/0001-37,12607106000137,"ASSOCIAÇÃO CULTURAL DOS ARTESÃOS, ARTISTAS E P..."
2,3,210001,884545,210001,21000000,21000000,00.842.200/0001-91,00842200000191,ASSOC COMUNIT PROCIDADANIA DE ITAIPABA
3,4,300001,884449,300001,30000000,30000000,02.840.653/0001-04,02840653000104,BALE FOLCLORICO ARTE POPULAR DE FORTALEZ
4,5,240001,860040,240401,24200004,24000000,07.589.369/0001-20,07589369000120,PREF MUNIC DE CASCAVEL

In [7]:
dataframes['dim_modalidade'].head()

,id_modalidade,descricao_modalidade,descricao_tipo,flg_tipo,isn_modalidade,descricao_justificativa
0,1,USO INTERNO,CONVENIO.DESPESA,49,0,ATENDER A DEMANDA DO TRANSPORTE DOS ALUNOS DA ...
1,2,USO INTERNO,CONVENIO.DESPESA,49,0,O PRESENTE CONVÊNIO TEM COMO OBJETO A IMPLEMEN...
2,3,USO INTERNO,CONVENIO.DESPESA,49,0,O PROCESSO DE DESENVOLVIMENTO HOLÍSTICO E SIST...
3,4,USO INTERNO,CONVENIO.DESPESA,49,0,APOIO SÓCIO-CULTURAL
4,5,USO INTERNO,TERMO.AJUSTE,53,0,MELHORAR A ASSISTENCIA AOS USUÁRIOS DO SUS NO ...

In [8]:
dataframes['dim_participacao'].head()

,id_participacao,isn_parte_destino,isn_parte_origem,isn_sic,isn_entidade,gestor_contrato,num_certidao
0,1,201587,202624,1199467,1771,NÃO INFORMADO,NÃO INFORMADO
1,2,561194,395263,899852,1710,MARIA TEREZA BEZERRA FARIAS SALES,NÃO INFORMADO
2,3,441550,203809,332635,1770,NÃO INFORMADO,NÃO INFORMADO
3,4,440046,203172,298716,1772,NÃO INFORMADO,NÃO INFORMADO
4,5,201575,203041,632222,1795,MANOEL FRANCISCO DE CARVALHO LOPES,NÃO INFORMADO

In [9]:
dataframes['dim_projeto'].head()

,id_projeto,descricao_objeto,tipo_objeto,cod_plano_trabalho,num_spu,num_spu_licitacao,descricao_edital
0,1,GARANTIR A EXECUÇÃO DO TRANSPORTE DOS ALUNOS D...,OUTROS,PT772437/2022,00081388/2022,NÃO INFORMADO,35. TERMO DE RESPONSABILIDADE (SEDUC)
1,2,O PRESENTE CONVÊNIO TEM COMO OBJETO A IMPLEMEN...,OUTROS,NÃO INFORMADO,12812366-4,NÃO INFORMADO,04. CONVÊNIO
2,3,CV 080/2009 - O PRESENTE CONVÊNIO DE COOPERAÇÃ...,NÃO INFORMADO,NÃO INFORMADO,09233618-3,NÃO INFORMADO,04. CONVÊNIO
3,4,O PRESENTE CONVÊNIO TEM POR OBJETIVO GERAL O E...,NÃO INFORMADO,NÃO INFORMADO,NÃO INFORMADO,NÃO INFORMADO,04. CONVÊNIO
4,5,CELEBRAR TERMO DE AJUSTE COM A PREFEITURA MUNI...,NÃO INFORMADO,NÃO INFORMADO,10255574-5,NÃO INFORMADO,24.TERMO DE AJUSTE/PCF

In [10]:
dataframes['fato_contratos'].head()

,id_fato_contrato,valor_contrato,valor_can_rstpg,valor_original_concedente,valor_original_contrapartida,valor_atualizado_concedente,valor_atualizado_contrapartida,calculated_valor_aditivo,calculated_valor_ajuste,calculated_valor_empenhado,...,data_auditoria,data_termino_original,data_inicio,data_rescisao,data_finalizacao_prestacao_contas,id_entidade,id_modalidade,id_projeto,id_contrato,id_participacao
0,1,31388.82,0.0,31388.82,0.0,31388.82,0.0,0.0,0.0,31388.82,...,2022-09-16,2020-11-19,2019-11-20,None,None,None,None,None,None,None
1,2,312948.80,0.0,312948.80,0.0,312948.80,0.0,0.0,0.0,312948.80,...,2022-09-21,2022-05-10,2021-11-10,None,None,None,None,None,None,None
2,3,61380.00,0.0,61380.00,0.0,61380.00,0.0,0.0,0.0,61380.00,...,2022-09-16,2021-06-18,2020-06-18,None,None,None,None,None,None,None
3,4,3290.00,0.0,3290.00,0.0,3290.00,0.0,0.0,0.0,3290.00,...,2023-08-22,2023-12-31,2023-06-29,None,None,None,None,None,None,None
4,5,5253.60,0.0,5253.60,0.0,5253.60,0.0,0.0,0.0,5253.60,...,2023-01-18,2022-12-31,2022-02-15,None,None,None,None,None,None,None

In [11]:
dataframes['fato_convenios'].head()

,id_fato_convenio,valor_contrato,valor_can_rstpg,valor_original_concedente,valor_original_contrapartida,valor_atualizado_concedente,valor_atualizado_contrapartida,calculated_valor_aditivo,calculated_valor_ajuste,calculated_valor_empenhado,...,data_auditoria,data_termino_original,data_inicio,data_rescisao,data_finalizacao_prestacao_contas,id_entidade,id_modalidade,id_projeto,id_contrato,id_participacao
0,1,424637.38,0.0,424637.38,0.0,424637.38,0.0,0.0,0.0,424637.38,...,2024-04-06,2023-01-31,2022-02-01,None,2023-04-03,None,None,None,None,None
1,2,400000.00,0.0,400000.00,0.0,400000.00,0.0,0.0,0.0,263800.00,...,2024-04-06,2014-10-03,2013-09-03,None,None,None,None,None,None,None
2,3,3120.00,0.0,3120.00,0.0,3120.00,0.0,0.0,0.0,3120.00,...,2024-04-06,2010-04-17,2009-07-21,None,None,None,None,None,None,None
3,4,50000.00,0.0,50000.00,0.0,50000.00,0.0,0.0,0.0,50000.00,...,2024-04-06,2009-09-15,2009-05-19,None,None,None,None,None,None,None
4,5,173000.00,0.0,161870.00,11130.0,161870.00,11130.0,0.0,0.0,161870.00,...,2024-04-06,2010-12-31,2010-06-23,None,None,None,None,None,None,None